<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.website.mapper.WebCategoryMapper">

    <sql id="selectWebCategoryVo">
        select id,
               icon,
               name,
               description,
               parent_id,
               ancestors,
               sort_num,
               is_top,
               is_hot,
               target,
               url,
               is_valid,
               create_id,
               create_time,
               update_id,
               update_time
        from web_category
    </sql>
    <select id="getTreeList" resultType="com.maple.website.vo.model.WebCategoryModel">
        <include refid="selectWebCategoryVo"/>
        <where>
            <if test="webCategory.name != null and webCategory.name != ''">
                and name like concat('%', #{webCategory.name}, '%')
            </if>
            <if test="webCategory.isTop != null">
                and is_top = #{webCategory.isTop}
            </if>
            <if test="webCategory.isHot != null">
                and is_hot = #{webCategory.isHot}
            </if>
            <if test="webCategory.isValid != null">
                and is_valid = #{webCategory.isValid}
            </if>
        </where>
        order by sort_num
    </select>
    <select id="selectCountGroupByCategory" resultType="com.maple.common.model.IdNumList">
        SELECT COUNT(*)    as num,
               category_id as id
        FROM web_article
        WHERE STATUS = 1
        GROUP BY category_id
    </select>
    <select id="getPageList" resultType="com.maple.website.vo.model.WebCategoryModel">
        select t1.*
        from web_category t1
        left join web_menu_category t2 on t1.id = t2.category_id
        left join web_menu t3 on t2.web_menu_id = t3.id
        <where>
            <if test="webCategory.isTop != null">
                and t1.is_top = #{webCategory.isTop}
            </if>
            <if test="webCategory.menuPath != null">
                and t3.path = #{webCategory.menuPath}
            </if>
            <if test="webCategory.description != null and webCategory.description != ''">
                and (t1.name like concat ('%', #{webCategory.description}, '%')
                or t1.description like concat ('%', #{webCategory.description}, '%')
                )
            </if>
            <if test="webCategory.parentId">
                and t1.parent_id = #{webCategory.parentId}
            </if>
            <if test="webCategory.parentIdList and webCategory.parentIdList.size > 0">
                and t1.parent_id in
                <foreach collection="webCategory.parentIdList" item="parentId" open="(" separator="," close=")">
                    #{parentId}
                </foreach>
            </if>
        </where>
        group by t1.id
    </select>
    <select id="getCategoryByMenuPath" resultType="java.lang.Long">
        select distinct t1.category_id
        from web_menu_category t1
                 left join web_menu t2 on t1.web_menu_id = t2.id
        where t2.path = #{menuPath}
    </select>
</mapper>