<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.website.mapper.WebMenuMapper">

    <sql id="selectWebMenuVo">
        select id, title, image, menu_type, view_type, parent_id, ancestors, sort_num, path, link_url, is_link, status, icon, remark, create_id, create_time, update_id, update_time from web_menu
    </sql>
    <select id="getTreeList" resultType="com.maple.website.vo.model.WebMenuModel">
        <include refid="selectWebMenuVo"/>
        <where>
            <if test="webMenu.title != null and webMenu.title != ''">
                and title = #{webMenu.title}
            </if>
            <if test="webMenu.menuType != null and webMenu.menuType != ''">
                and menu_type = #{webMenu.menuType}
            </if>
            <if test="webMenu.status != null">
                and status = #{webMenu.status}
            </if>
        </where>
        order by sort_num
    </select>
</mapper>