<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.website.mapper.WebUserOperationMapper">
    
    <sql id="selectWebUserOperationVo">
        select id, data_type, data_id, user_id, is_read, is_download, is_like, is_collect, is_delete, create_id, create_time, update_id, update_time from web_user_operation
    </sql>
    <select id="getPageList" resultType="com.maple.website.vo.model.WebUserOperationModel">
        <include refid="selectWebUserOperationVo"/>
        <where>
            <if test="webUserOperation.dataType != null"> 
                and data_type = #{webUserOperation.dataType}
            </if>
            <if test="webUserOperation.dataId != null"> 
                and data_id = #{webUserOperation.dataId}
            </if>
            <if test="webUserOperation.userId != null"> 
                and user_id = #{webUserOperation.userId}
            </if>
            <if test="webUserOperation.isRead != null"> 
                and is_read = #{webUserOperation.isRead}
            </if>
            <if test="webUserOperation.isLike != null"> 
                and is_like = #{webUserOperation.isLike}
            </if>
            <if test="webUserOperation.isCollect != null"> 
                and is_collect = #{webUserOperation.isCollect}
            </if>
        </where>
        order by id desc
    </select>
</mapper>