<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.website.mapper.WebUserCommentMapper">

    <select id="getPageList" resultType="com.maple.website.vo.model.WebUserCommentModel">
        select t1.*,
        t2.nick_name as userName,
        t2.head_portrait_link as headPortraitLink,
        t3.nick_name as toUserName,
        t3.head_portrait_link as toUserHeadPortraitLink,
        t4.title as dataName
        from web_user_comment t1
        left join web_user t2 on t1.user_id = t2.id
        left join web_user t3 on t1.to_user_id = t3.id
        left join web_article t4 on t1.data_id = t4.id
        where
            t1.status = 1 and t1.is_delete = 0
            <if test="webUserComment.dataId != null">
                and t1.data_id = #{webUserComment.dataId}
            </if>
            <if test="webUserComment.topId != null">
                and t1.top_id = #{webUserComment.topId}
            </if>
            <if test="webUserComment.parentId != null">
                and t1.parent_id = #{webUserComment.parentId}
            </if>
            <if test="webUserComment.userId != null">
                and t1.user_id = #{webUserComment.userId}
            </if>
            <if test="webUserComment.toUserId != null">
                and t1.to_user_id = #{webUserComment.toUserId}
            </if>
            <if test="webUserComment.content != null and webUserComment.content != ''">
                and t1.content = #{webUserComment.content}
            </if>
            <if test="webUserComment.commentType != null">
                and t1.comment_type = #{webUserComment.commentType}
            </if>
            <if test="webUserComment.status != null">
                and t1.status = #{webUserComment.status}
            </if>
            <if test="webUserComment.parentIds != null and webUserComment.parentIds.size > 0">
                and t1.parent_id in
                <foreach collection="webUserComment.parentIds" item="parentId" open="(" separator="," close=")">
                    #{parentId}
                </foreach>
            </if>
        <choose>
            <when test="webUserComment.sortFlag == 1">
                order by t1.id
            </when>
            <otherwise>
                order by t1.id desc
            </otherwise>
        </choose>
    </select>
</mapper>