@font-face {
  font-family: "iconfont"; /* Project id 4391387 */
  src: url('iconfont.woff2?t=1720159344119') format('woff2'),
       url('iconfont.woff?t=1720159344119') format('woff'),
       url('iconfont.ttf?t=1720159344119') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-shoucang:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e618";
}

.icon-pinglun1:before {
  content: "\e632";
}

.icon-icon:before {
  content: "\e651";
}

.icon-zan:before {
  content: "\e644";
}

.icon-shang:before {
  content: "\e611";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

